.bi-badge-tm-fill:hover {
    cursor: pointer;
}
.bi-mic-fill:hover {
    cursor: pointer;
}
.bi-volume-up-fill:hover {
    cursor: pointer;
}
.hide {
    display: none;
}
.myDIV:hover + .hide {
    display: block;
    color: red;
}
